body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

.Layout {
  height: 100%;
}

.Header {
  background: rgba(0, 0, 0, 0.3);
  font-size: 36px;
}

.Container {
  box-shadow: 0 0 4px rgba(0,0,0,0.7);
  height: 100%;
}