body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  overflow:hidden;
}

.Layout {
  height: 100%;
}

.Header {
  background: rgba(0, 0, 0, 0.3);
  font-size: 48px;
  padding-left: 64px;
  padding-right: 64px;
  height: 64px;
}

.Container {
  box-shadow: 0 0 4px rgba(0,0,0,0.7);
  height: 100%;
  display: flex;
  flex-direction: row;
}

.Preview {
  height: 100%;
  width: 100%;
}

.Composer {
  overflow: scroll;
  height: 100%;
  width: 200px;
}

.composer-drag-container {
  position: absolute;
}
.composer-tile {
  background-color: white;
  background-image:
    linear-gradient(45deg, #eee 25%, transparent 25%),
    linear-gradient(-45deg, #eee 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #eee 75%),
    linear-gradient(-45deg, transparent 75%, #eee 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  display: absolute;
  width: 50%;
  display: block;
  border: 1px solid black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 10px auto;
  pointer-events: none;
}

.composer-tile img {
  width: 100%;
  height: 100%;
}

.delete-image {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  display: none;
}

.composer-tile:hover .delete-image {
  display: block;
}
.DownloadButton {
  float: right;
  height: 100%;
  background: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.DownloadButton:hover {

}
